{% import _self as menus %}

{{ menus.main_menu(items, 0) }}

{% macro main_menu(items, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <nav class="main-menu">
        <ul class="main-menu__list">
    {% else %}
      <ul class="main-menu__submenu">
    {% endif %}
    {% for item in items %}
      <li class="main-menu__item main-menu__item--level-{{ menu_level }}
        {{- item.below ? ' main-menu__item--has-submenu' -}}
        {{- item.in_active_trail ? 'main-menu__item--active-trail' -}}">
          <a class="main-menu__link" href="{{ item.url }}">
            {{ item.title }}
          </a>
        {% if item.below %}
          {{ menus.main_menu(item.below, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
      </ul>
    {% if menu_level == 0 %}
      </nav>
    {% endif %}
  {% endif %}
{% endmacro %}
