{{ attach_library('training_theme/author') }}

<div class="author{{ modifier ? ' ' ~ modifier }}
  {{- attributes ? ' ' ~ attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  <div class="author__meta">
    <div class="author__name">{{ name }}</div>
    <div class="author__title">{{ title }}</div>
  </div>
  <div class="author__photo">{{ photo }}</div>
</div>
