<li class="tag__item{{- attributes ? ' ' ~ attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  {{ title_prefix }}
  <a href="{{ url }}" class="tag__link">
    {{ name }}
  </a>
  {{ title_suffix }}
</li>
